#canvas1 {
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50%, -50%);
    background: grey;
} 

.row {
    padding: 10px 0px 0px 0px;
}

#restart {
    position: absolute;
    top: 90%;
    left: 62%;
    transform: translate(-50%, -50%);
}

#gameIns {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);

}

#displayMode {
    margin-top: 30px;
}

#scoreTag {
    margin-top: 0px;
}