
#canvas1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: grey;
} 

.row {
    padding: 30px 0px 0px 0px;
}

#restart {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}